<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
      integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="../output.css" rel="stylesheet" />
    <link href="../svg.css" rel="stylesheet" />
  </head>
  <body class="m-0 p-0 box-border font-serif bg-sage-green relative">
    <!-- Background -->
    <div class="absolute inset-0 pointer-events-none"></div>

    <!-- Content Div -->
    <div
      id="contentDiv"
      class="w-full p-1.5vw bg-paper-pattern scale-90 transition-all transform duration-500 ease-out opacity-0"
    >
      <!--header start -->
      <header
        class="uppercase border-2 border-black divide-y-2 divide-black relative z-20"
      >
        <div
          class="grid grid-cols-10 md:divide-x-2 md:divide-black h-min bg-paper-pattern"
        >
          <div
            class="col-span-2 hidden md:flex justify-center items-center p-5 logo"
          >
            <img
              class="h-3/5 aspect-auto"
              src="../../public/photos/booknest2.svg"
              alt=""
            />
          </div>
          <div
            class="col-span-10 md:col-span-6 p-4 flex flex-col justify-around items-center transition-all duration-500 hover:text-sage-green"
          >
            <p
              class="text-xs md:text-base lg:text-xl mb-2 md:mb-4"
              id="date"
            ></p>
            <h1
              class="text-3xl md:text-5xl lg:text-7xl mb-2 md:mb-4 font-bold tracking-wider md:tracking-widest"
            >
              booknest
            </h1>
            <p class="text-sm md:text-lg lg:text-2xl font-bold text-center">
              Find awesome books in affordable price
            </p>
          </div>
          <div class="col-span-2 hidden md:flex justify-center items-center">
            <a
              class="text-base lg:text-xl font-bold transition-all duration-500 hover:text-sage-green"
              href=""
              >Sign in</a
            >
          </div>
        </div>
        <div
          class="hidden xs:grid grid-cols-4 text-base sm:text-lg md:text-xl text-center font-bold xs:divide-x-2 divide-black h-min"
        >
          <div
            class="button p-1 sm:p-3 transition-all duration-500 hover:text-sage-green"
          >
            <a href="about.html">
              about
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="-2 -4 150.93 80.58"
                class="circle-1"
                id="svg1"
              >
                <path
                  id="path1"
                  d="M51.36,8.75q-9.14-.64-18.3-.85-4.92-.16-9.85,0c-3.22.23-6.62.7-9.39,2.49A21.08,21.08,0,0,0,8,16.62,17.68,17.68,0,0,0,5.8,21.85c-.68,2.42-1.13,4.43-.48,6.94,1,3.79,3.48,7,6,9.91a60.49,60.49,0,0,0,15,12.44C33.6,55.43,41.8,57.88,49.91,60a144.68,144.68,0,0,0,27.72,4.25c10.65.62,21.78.65,32.27-1.6a48.14,48.14,0,0,0,10.86-3.49,16.81,16.81,0,0,0,6-4.33,11,11,0,0,0,1.91-9.37c-1.11-5.29-4.53-9.43-8.55-12.91a71.43,71.43,0,0,0-17.8-10.19Q89.91,17.05,77.08,13C66.09,9.53,54.58,6,43,5.14a32.64,32.64,0,0,0-8.67.34"
                ></path>
              </svg>
            </a>
          </div>
          <div
            class="button p-1 sm:p-3 transition-all duration-500 hover:text-sage-green"
          >
            <a href="store.html">
              store
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="-2 -4 150.93 80.58"
                class="circle-1"
                id="svg1"
              >
                <path
                  id="path1"
                  d="M51.36,8.75q-9.14-.64-18.3-.85-4.92-.16-9.85,0c-3.22.23-6.62.7-9.39,2.49A21.08,21.08,0,0,0,8,16.62,17.68,17.68,0,0,0,5.8,21.85c-.68,2.42-1.13,4.43-.48,6.94,1,3.79,3.48,7,6,9.91a60.49,60.49,0,0,0,15,12.44C33.6,55.43,41.8,57.88,49.91,60a144.68,144.68,0,0,0,27.72,4.25c10.65.62,21.78.65,32.27-1.6a48.14,48.14,0,0,0,10.86-3.49,16.81,16.81,0,0,0,6-4.33,11,11,0,0,0,1.91-9.37c-1.11-5.29-4.53-9.43-8.55-12.91a71.43,71.43,0,0,0-17.8-10.19Q89.91,17.05,77.08,13C66.09,9.53,54.58,6,43,5.14a32.64,32.64,0,0,0-8.67.34"
                ></path>
              </svg>
            </a>
          </div>
          <div
            class="button p-1 sm:p-3 transition-all duration-500 hover:text-sage-green"
          >
            <a href="contact.html">
              contact
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="-2 -4 150.93 80.58"
                class="circle-1"
                id="svg1"
              >
                <path
                  id="path1"
                  d="M51.36,8.75q-9.14-.64-18.3-.85-4.92-.16-9.85,0c-3.22.23-6.62.7-9.39,2.49A21.08,21.08,0,0,0,8,16.62,17.68,17.68,0,0,0,5.8,21.85c-.68,2.42-1.13,4.43-.48,6.94,1,3.79,3.48,7,6,9.91a60.49,60.49,0,0,0,15,12.44C33.6,55.43,41.8,57.88,49.91,60a144.68,144.68,0,0,0,27.72,4.25c10.65.62,21.78.65,32.27-1.6a48.14,48.14,0,0,0,10.86-3.49,16.81,16.81,0,0,0,6-4.33,11,11,0,0,0,1.91-9.37c-1.11-5.29-4.53-9.43-8.55-12.91a71.43,71.43,0,0,0-17.8-10.19Q89.91,17.05,77.08,13C66.09,9.53,54.58,6,43,5.14a32.64,32.64,0,0,0-8.67.34"
                ></path>
              </svg>
            </a>
          </div>
          <div
            class="button p-1 sm:p-3 transition-all duration-500 hover:text-sage-green"
          >
            <a href="order.html">
              order
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="-2 -4 150.93 80.58"
                class="circle-1"
                id="svg1"
              >
                <path
                  id="path1"
                  d="M51.36,8.75q-9.14-.64-18.3-.85-4.92-.16-9.85,0c-3.22.23-6.62.7-9.39,2.49A21.08,21.08,0,0,0,8,16.62,17.68,17.68,0,0,0,5.8,21.85c-.68,2.42-1.13,4.43-.48,6.94,1,3.79,3.48,7,6,9.91a60.49,60.49,0,0,0,15,12.44C33.6,55.43,41.8,57.88,49.91,60a144.68,144.68,0,0,0,27.72,4.25c10.65.62,21.78.65,32.27-1.6a48.14,48.14,0,0,0,10.86-3.49,16.81,16.81,0,0,0,6-4.33,11,11,0,0,0,1.91-9.37c-1.11-5.29-4.53-9.43-8.55-12.91a71.43,71.43,0,0,0-17.8-10.19Q89.91,17.05,77.08,13C66.09,9.53,54.58,6,43,5.14a32.64,32.64,0,0,0-8.67.34"
                ></path>
              </svg>
            </a>
          </div>
        </div>
        <div class="block xs:hidden text-center text-base font-bold">
          <button onclick="menucCollapse()" class="w-full bg-paper-pattern">
            Menu<i class="fa-solid fa-arrow-down pl-1"></i>
          </button>
        </div>
        <div
          id="menu"
          class="block xs:hidden absolute bg-paper-pattern -z-10 text-base w-full text-center transition-all duration-500 transform -translate-y-full"
        >
          <div
            class="button p-1 transition-all duration-500 hover:text-sage-green border-b-2 border-black"
          >
            <a href="about.html">
              about
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="-2 -4 150.93 80.58"
                class="circle-1"
                id="svg1"
              >
                <path
                  id="path1"
                  d="M51.36,8.75q-9.14-.64-18.3-.85-4.92-.16-9.85,0c-3.22.23-6.62.7-9.39,2.49A21.08,21.08,0,0,0,8,16.62,17.68,17.68,0,0,0,5.8,21.85c-.68,2.42-1.13,4.43-.48,6.94,1,3.79,3.48,7,6,9.91a60.49,60.49,0,0,0,15,12.44C33.6,55.43,41.8,57.88,49.91,60a144.68,144.68,0,0,0,27.72,4.25c10.65.62,21.78.65,32.27-1.6a48.14,48.14,0,0,0,10.86-3.49,16.81,16.81,0,0,0,6-4.33,11,11,0,0,0,1.91-9.37c-1.11-5.29-4.53-9.43-8.55-12.91a71.43,71.43,0,0,0-17.8-10.19Q89.91,17.05,77.08,13C66.09,9.53,54.58,6,43,5.14a32.64,32.64,0,0,0-8.67.34"
                ></path>
              </svg>
            </a>
          </div>
          <div
            class="button p-1 transition-all duration-500 hover:text-sage-green border-b-2 border-black"
          >
            <a href="store.html">
              store
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="-2 -4 150.93 80.58"
                class="circle-1"
                id="svg1"
              >
                <path
                  id="path1"
                  d="M51.36,8.75q-9.14-.64-18.3-.85-4.92-.16-9.85,0c-3.22.23-6.62.7-9.39,2.49A21.08,21.08,0,0,0,8,16.62,17.68,17.68,0,0,0,5.8,21.85c-.68,2.42-1.13,4.43-.48,6.94,1,3.79,3.48,7,6,9.91a60.49,60.49,0,0,0,15,12.44C33.6,55.43,41.8,57.88,49.91,60a144.68,144.68,0,0,0,27.72,4.25c10.65.62,21.78.65,32.27-1.6a48.14,48.14,0,0,0,10.86-3.49,16.81,16.81,0,0,0,6-4.33,11,11,0,0,0,1.91-9.37c-1.11-5.29-4.53-9.43-8.55-12.91a71.43,71.43,0,0,0-17.8-10.19Q89.91,17.05,77.08,13C66.09,9.53,54.58,6,43,5.14a32.64,32.64,0,0,0-8.67.34"
                ></path>
              </svg>
            </a>
          </div>
          <div
            class="button p-1 sm:p-3 transition-all duration-500 hover:text-sage-green border-b-2 border-black"
          >
            <a href="contact.html">
              contact
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="-2 -4 150.93 80.58"
                class="circle-1"
                id="svg1"
              >
                <path
                  id="path1"
                  d="M51.36,8.75q-9.14-.64-18.3-.85-4.92-.16-9.85,0c-3.22.23-6.62.7-9.39,2.49A21.08,21.08,0,0,0,8,16.62,17.68,17.68,0,0,0,5.8,21.85c-.68,2.42-1.13,4.43-.48,6.94,1,3.79,3.48,7,6,9.91a60.49,60.49,0,0,0,15,12.44C33.6,55.43,41.8,57.88,49.91,60a144.68,144.68,0,0,0,27.72,4.25c10.65.62,21.78.65,32.27-1.6a48.14,48.14,0,0,0,10.86-3.49,16.81,16.81,0,0,0,6-4.33,11,11,0,0,0,1.91-9.37c-1.11-5.29-4.53-9.43-8.55-12.91a71.43,71.43,0,0,0-17.8-10.19Q89.91,17.05,77.08,13C66.09,9.53,54.58,6,43,5.14a32.64,32.64,0,0,0-8.67.34"
                ></path>
              </svg>
            </a>
          </div>
          <div
            class="button p-1 sm:p-3 transition-all duration-500 hover:text-sage-green border-b-2 border-black"
          >
            <a href="order.html">
              order
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="-2 -4 150.93 80.58"
                class="circle-1"
                id="svg1"
              >
                <path
                  id="path1"
                  d="M51.36,8.75q-9.14-.64-18.3-.85-4.92-.16-9.85,0c-3.22.23-6.62.7-9.39,2.49A21.08,21.08,0,0,0,8,16.62,17.68,17.68,0,0,0,5.8,21.85c-.68,2.42-1.13,4.43-.48,6.94,1,3.79,3.48,7,6,9.91a60.49,60.49,0,0,0,15,12.44C33.6,55.43,41.8,57.88,49.91,60a144.68,144.68,0,0,0,27.72,4.25c10.65.62,21.78.65,32.27-1.6a48.14,48.14,0,0,0,10.86-3.49,16.81,16.81,0,0,0,6-4.33,11,11,0,0,0,1.91-9.37c-1.11-5.29-4.53-9.43-8.55-12.91a71.43,71.43,0,0,0-17.8-10.19Q89.91,17.05,77.08,13C66.09,9.53,54.58,6,43,5.14a32.64,32.64,0,0,0-8.67.34"
                ></path>
              </svg>
            </a>
          </div>
        </div>
      </header>
      <!--header end -->
      <!--main start -->
      <main
        class="grid grid-rows-[auto] divide-y-2 divide-black border-x-2 border-black bg-paper-pattern z-10"
      >
        <div class="grid grid-cols-1 gap-4 p-6 xs:p-9 md:p-12">
          <div
            class="flex justify-between gap-5 xs:gap-10 md:gap-20 p-3 xs:p-5 md:p-7 text-xs xs:text-sm md:text-base border-2 border-black"
          >
            <img
              class="w-1/16 aspect-auto filter grayscale mix-blend-multiply transition-all duration-500 hover:grayscale-0"
              src="../../public/photos/product2.webp"
              alt=""
            />
            <p class="w-6/16 line-clamp-1">CHILD OF THE BEAST</p>
            <p class="w-2/16">₹250</p>
            <div class="w-7/16">
              <p>
                <span
                  class="inline-block w-3 h-3 rounded-full bg-green-500"
                ></span>
                <span>Delivered on 20th Aug</span>
              </p>
              <p>Your item has been delivered</p>
            </div>
          </div>
          <div
            class="flex justify-between gap-5 xs:gap-10 md:gap-20 p-3 xs:p-5 md:p-7 text-xs xs:text-sm md:text-base border-2 border-black"
          >
            <img
              class="w-1/16 aspect-auto filter grayscale mix-blend-multiply transition-all duration-500 hover:grayscale-0"
              src="../../public/photos/product2.webp"
              alt=""
            />
            <p class="w-6/16 line-clamp-1">CHILD OF THE BEAST</p>
            <p class="w-2/16">₹250</p>
            <div class="w-7/16">
              <p>
                <span
                  class="inline-block w-3 h-3 rounded-full bg-red-500"
                ></span>
                <span>Expected delivery on 20th Aug</span>
              </p>
              <p>Your item is on the way</p>
              <!-- <a href="#">
                <i class="fas fa-shipping-fast"></i> Track Your Order
              </a> -->
            </div>
          </div>
        </div>
        <div class="w-full grid grid-cols-1 md:grid-cols-12 p-5 md:p-7">
          <div
            class="md:col-span-4 my-auto uppercase font-bold text-xl xs:text-3xl md:text-5xl tracking-wide leading-snug text-center"
          >
            <p>have a special request?</p>
          </div>
          <div class="md:col-span-2 mx-auto">
            <img
              class="w-1/2 md:w-full aspect-auto mx-auto filter grayscale mix-blend-multiply transition-all duration-500 hover:grayscale-0"
              src="../../public/photos/books.jpeg"
              alt=""
            />
          </div>
          <div class="md:col-span-6 my-auto mx-auto uppercase">
            <h1
              class="font-bold text-xl xs:text-3xl md:text-5xl tracking-wide text-center"
            >
              get in touch
            </h1>
            <div
              class="flex gap-10 text-base xs:text-lg md:text-xl mt-3 xs:mt-5 md:mt-7"
            >
              <p class="flex flex-col">
                <span><strong>Contact us</strong></span>
                <span>+91 98765 43210</span>
              </p>
              <p class="flex flex-col">
                <span><strong>email us</strong></span>
                <span><a href="">click here</a></span>
              </p>
            </div>
          </div>
        </div>
      </main>
      <!--main end -->
      <!--footer start -->
      <footer
        class="grid grid-cols-12 text-center text-sm xs:text-lg md:text-lg divide-y-2 md:divide-y-0 md:divide-x-2 divide-black border-2 border-black"
      >
        <div class="p-2 md:p-4 col-span-12 md:col-span-6">
          <p>&copy; 2024 Booknest a product of PYSPARKS LAB LLP</p>
        </div>
        <div class="p-2 md:p-4 col-span-12 md:col-span-6">
          <p>123, College Road, Juguli, Nadia, West Bengal, 741235</p>
        </div>
      </footer>
      <!--footer end -->
    </div>
    <script src="../js/script.js"></script>
  </body>
</html>
